{# templates/base.html.twig #}

{% block body %}
    <div>
        <span>Current balance: </span>
        <span>{{ balance }}</span>
    </div>

    <div>
        <a href="/topUp">Balance top up</a>
    </div>
{% endblock %}